<!DOCTYPE HTML>
<html>
<head>
    <title>Smoker Temperature</title>
    <script src="static/chart.js"></script>
    <script src="static/socket.io.js"></script>
    <script src="static/jquery.min.js"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io();

            socket.on('temperature', function(msg, cb) {
                // console.log(msg.foodTemp);
                // console.log(msg.bbqTemp);
                // console.log(smokerChart.data.datasets[0].data);
                
                smokerChart.data.labels.push(msg.timeData);
                smokerChart.data.datasets[0].data.push(msg.bbqTemp);
                smokerChart.data.datasets[1].data.push(msg.foodTemp);
                smokerChart.update();

                if (cb)
                    cb();
            });
        });
    </script>

</head>
<body>
    <canvas id="smokerChart" style="width:100%"></canvas>
    <script type="text/javascript" charset="utf-8">
        const smokerValues = {{ smoker_data }};
        const cookValues = {{ cook_data }};
        const tValues = {{ time_data }};
        
        var smokechartid = document.getElementById('smokerChart')
        var smokerChart = new Chart(smokechartid, {
            type: "line",
            data: {
                labels: tValues,
                datasets: [
                    {
                        label: 'Smoker',
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(0,0,255,1.0)",
                        borderColor: "rgba(0,0,255,0.1)",
                        data: smokerValues
                    },
                    {
                        label: 'Cook',
                        fill: false,
                        lineTension: 0,
                        backgroundColor: "rgba(255,0,0,1.0)",
                        borderColor: "rgba(255,0,0,0.1)",
                        data: cookValues
                    }
                ]
            },
            options: {
                legend: {display: false}
            }
        });
    </script>
    
</body>
</html>